- name: Update apt cache
  apt:
    update_cache: yes

- name: Install basic packages
  apt:
    name:
      - git
      - curl
      - unzip
      - ca-certificates
    state: present

- name: Add NodeSource Node.js 20 repo
  shell: |
    curl -fsSL https://deb.nodesource.com/setup_20.x | bash -
  args:
    creates: /etc/apt/sources.list.d/nodesource.list

- name: Install Node.js 20
  apt:
    name: nodejs
    state: present

- name: Verify Node.js version
  command: node -v
  register: node_version

- debug:
    msg: "Installed Node version: {{ node_version.stdout }}"

- name: Install Ansible
  apt:
    name: ansible
    state: present

- name: Allow Jenkins passwordless sudo
  copy:
    dest: /etc/sudoers.d/jenkins
    content: "jenkins ALL=(ALL) NOPASSWD:ALL\n"
    mode: "0440"

- name: Install prerequisites for Docker
  apt:
    name:
      - ca-certificates
      - gnupg
      - lsb-release
    state: present

- name: Add Docker GPG key
  shell: |
    curl -fsSL https://download.docker.com/linux/ubuntu/gpg | gpg --dearmor -o /usr/share/keyrings/docker.gpg
  args:
    creates: /usr/share/keyrings/docker.gpg

- name: Add Docker repository
  shell: |
    echo \
    "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/docker.gpg] \
    https://download.docker.com/linux/ubuntu \
    $(lsb_release -cs) stable" \
    | tee /etc/apt/sources.list.d/docker.list
  args:
    creates: /etc/apt/sources.list.d/docker.list

- name: Update apt cache after adding Docker repo
  apt:
    update_cache: yes

- name: Install Docker Engine and Docker Compose plugin
  apt:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-compose-plugin
    state: present

- name: Enable and start Docker
  systemd:
    name: docker
    enabled: yes
    state: started
